<h1>Speech to text</h1>

<article>
  <form (submit)="onSubmit($event)">
    <fieldset>
      <label for="audio-file">
        Adjuntar archivo de audio
      </label>
      <input id="audio-file" type="file" accept=".mp3" (change)="onFileSelected($event)">
    </fieldset>
    <button type="submit">Transcribir</button>
    <div *ngIf="error()">
      <p style="color: red;">{{ error() }}</p>
    </div>
  </form>
  
  <section>
    <h2>Transcripción</h2>
    <textarea rows="20" cols="100">
      {{ transcription() }}
    </textarea>
  </section>
</article>

<article>
  <h2>Configuración de OpenAI</h2>
  <app-form-openia-setup></app-form-openia-setup>
</article>